@import url(https://fonts.googleapis.com/css?family=Grand+Hotel);
@import url(https://fonts.googleapis.com/css?family=Raleway);

html,
body {
    width: 100%;
    height: 100%;
}
.backgroundlogin {
	display: table;
    position: absolute;
   	width: 100%;
    height: 100%;
    background: no-repeat center center scroll;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.welcome {
    font-family: Grand Hotel;
}

/*STYLING FOR HOME PAGE */

.container {
    margin : 0;
    width: 100%;
    padding: 0;
}

.statspanel {
    background-color: #288D85;
    max-height: 700px;
}

.map {
    background-image: url('./images/covermap.jpg');
    height: 200px;
    margin-bottom: 20px;
}

.logo {
    font-family: Grand Hotel;
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.profile-pic {
    max-height: 160px;
    max-width: 160px;
    border-radius: 100%;
    border: 2px solid #B9D9B4;
    display: block;
    margin: auto;

}

.location {
    background-color: #288D85;
    height: 93px;
    display: block;
    margin: auto;
}

.locationtext {
    color: #B9D9B4;
    font-size: 20px;
    font-family: Raleway;
    text-align: center;
}

.degree {
    background-color: #288D85;
    height: 93px;
    display: block;
    margin: auto;
}

.degreetext {
    color: white;
    font-size: 20px;
    font-family: Raleway;
    text-align: center;
}

/*.logoutbtn {
    padding: 10px;
    background-color: #B9D9B4;
    color: #288D85;
}*/

/*STYLING FOR FRIEND FEED*/
.background {
    background-color: #f8f8f8;
    height: 830px;
}

.friendblurb {
    border: solid #F0A991 1px;
    height: 110px;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #F0A991;
}

.miniprofilepic {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin-top: 13px;
}

.name {
    color: #2A363B;
    font-size: 20px;
}

.currentlocation {
    color: #2A363B;
    font-size: 16px;
}

.glyph {
    color: #2A363B;
    font-size: 34px;
    padding-top: 40px;
}

.degreemutual {
    opacity: 0.7;
}

.degreeconnection {
    opacity: 0.4;
}