<div class="container-fluid" ng-controller="homeCtrl">
<div class="row" >

	 <div class="col-md-3 statspanel">
			<h4 class="logo"> 2&degConnection </h4>
			<img class="profile-pic" src="{{firebaseUser.photoURL}}"/>
			<br>

			<div class="row">
				<div class="col-md-12">
					<p class="username"> {{firebaseUser.displayName}} </p>
				</div>
			</div>
			<!-- entering userlocation -->
			<div class="row">
				<div class="col-md-12">
					<select class="locationbar" ng-model="cityLocation" class="form-control" ng-options="city for city in cities" ng-selected="addLocation()"></select>
				</div>
				<br> <br>  
			</div>
	<!-- code for list test --> 	
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li class="filters"> city <span class="location-num">14</span> </li>
						<li class="filters"> region <span class="location-num">25</span></li>
						<li class="filters"> country <span class="location-num">48</span> </li>
					</ul>
					<br>
					<ul>
						<li class="filters"> friends</li>
						<li class="filters"> 2&deg connection</li>
					</ul>
					<br>
					<button class="logoutbtn"><a ng-click="logout()">logout</a> </button> 
				</div>
			</div>
	</div>		
<!-- LOCATION -->
			<!-- <div class="row sidebar">
				<div class="col-md-12 space">
				</div>
			</div>
			<div class="row sidebar">
				<div class="col-md-12 location">
				<p class="locationtext"> city <span class="location-number">17</span> </p>
				</div>
			</div>
			<div class="row sidebar">
				<div class="col-md-12 location">
				<p class="locationtext"> region <span class="location-number">34</span></p>
				</div>
			</div>

			<div class="row sidebar">
				<div class="col-md-12 location">
					<p class="locationtext"> country <span class="location-number">45</span></p>
				</div>
			</div> -->
<!-- DEGREE OF SEPARATION -->
			<!-- <div class="row sidebar">
				<div class="col-md-12 space">
				</div>
			</div>
			<div class="row sidebar">
				<div class="col-md-12 degree first">
					<p class="degreetext"> friends <span class="degree-number">16</span></p>
				</div>
			</div>
			<div class="row sidebar">
				<div class="col-md-12 degree second">
					<p class="degreetext"> mutual friends <span class="degree-number">35</span></p>
				</div>
			</div> -->

<!-- LOGOUT BUTTON -->	
			<!-- <div class="row sidebar">
				<div class="col-md-12 logoutspace">
				</div>
			</div>	 -->	
		<!-- 	<div class="row">
				<div class="col-md-12 logout">
					<button class="logoutbtn"><a ng-click="logout()">logout</a> </button> 
				</div>
			</div>
			
		</div> -->		
			 
			
		<div class="col-md-9 feedcol">

			<div class="row mapimage">
				<div class="col-md-12 map"><p class="meetup"> Meet up with your friends (&amp their friends)...
					<br> wherever you are in the world! 
				</div>
			</div>

			<div class="row feedscroll">
				<div class="col-xs-8 col-xs-offset-2 ">

					
					<div class="row friendblurb" ng-repeat="friend in facebookFriends" ng-hide="cityLocation !== friend.Location">
						<div class="col-xs-2"><img class="miniprofilepic" ng-src="{{friend.photo}}"/></div>
						<div class="col-xs-10 blurbtext">
							<h3 class="name"">{{friend.name}}</h3>
							<p class="currentlocation"> {{friend.Location}}</p>
							<p class="currentlocation"> Facebook Friends </p>
						</div>
					</div>
					<div class="row friendblurb degreemutual" ng-repeat="friend1 in firebaseFriends" ng-hide="cityLocation !== friend1.Location">
						<div class="col-xs-2"><img class="miniprofilepic" ng-src="{{friend1.photo}}"/></div>
						<div class="col-xs-10 blurbtext">
							<h3 class="name">{{friend1.name}}</h3>
							<p class="currentlocation"> {{friend1.Location}}</p>
							<p class="currentlocation"> 2&degConnection </p>
						</div>
					</div>
				</div>
			</div>

		</div>
			
	<!-- LOGOUT ONLY SHOWN ON MOBILE -->
				
			<div class="row hidden-md hidden-sm hidden-lg">
				<div class="col-md-12 logout">
					<br><br>
					<button class="m-logoutbtn"><a ng-click="logout()">logout</a> </button> 
				</div>
			</div>
		</div>
</div>
</div>
